﻿@{
    ViewBag.Title = "Users";
}


@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-warning " role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<h2>@ViewBag.Title</h2>
<hr />


@foreach (var user in ViewBag.UsersList)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Email: @user.UserName</h5>
            <a class="btn btn-sm btn-success" href="/User/Show/@user.Id" style="float: right;"> User Details</a>
            @{ int number = (@user.CarList as IEnumerable<Object>).Count();
                <p>Number of cars: @number</p>
            }
        </div>
    </div>
}


