﻿﻿@model GoodToGo.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>
<hr/>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}
<div class="panel panel-default">
    <div class="panel-body">
        <strong> Email: </strong> @Model.Email
        <br />
    </div>
    <div class="panel-footer">
        <h3>Cars</h3>
        <br />
        @for(int i = 0; i< Model.CarList.Count(); i++ )
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@Model.CarList.ElementAt(i).Name - @Model.CarList.ElementAt(i).Model</h4>
                    <p> @Model.ExpensesRecorded.ElementAt(i) expenses records</p>
                </div>
            </div>
        }
    </div>
</div>


