﻿@model GoodToGo.Models.SHCar

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#brandDrop").change(function () {
            $("#modelDrop").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetModels")',
                dataType: 'json',
                data: { brand: $("#brandDrop").val() },
                success: function (model) {

                    $.each(model, function (i, model) {
                        $("#modelDrop").append('<option value="'
                                                   + model.Value + '">'
                                             + model.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
    </script>
}
@section Styles{
    <style>
        #recordButton {
            display: none;
        }

        #form1 {
            width: 300px;
            height: auto;
            position: absolute;
            position: absolute;
            right: 65%;
        }

        #divRes {
            width: 500px;
            height: 80px;
            position: absolute;
            top: 20%;
            right: 15%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            font-family: Calibri;
        }


        @@media only screen and (max-width: 980px) {

            #description {
                display: none;
            }

            #divRes {
                width: 350px;
                position: relative;
                left: 0%;
                right: 0%;
                margin-left: auto;
                margin-right: auto;
            }

            #recordButton {
                display: inline;
            }

            #form1 {
                position: relative;
                left: 0%;
                right: 0%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @@media only screen and (max-height: 400px) {
            h2 {
                display: none;
            }
        }
    </style>
}

@{
    ViewBag.Title = "Estimate Price";
}

<h2>@ViewBag.Title </h2>
<hr />

@if ((@ViewBag.Error == "" || @ViewBag.Error == null) && (@ViewBag.Prediction != null))
{
    <div id="divRes" class="panel panel-default">
        <br />
        <p>The estimated price is @ViewBag.Prediction.</p>
    </div>
}
<div id="description" class="panel-body" style='width: 500px; height: 250px; background-color: rgba(221, 205, 161,0.7);  position: absolute;  top: 35%; right:15%; font-size : 20px; font-weight: bold; text-align: center;'>
    <br />
    <br />
    <p>In order to estimate the price of the car you</p>
    <p>want to sell, we need a few details about it.</p>
</div>

<div id="form1" class="panel panel-default">
    <form method="post" action="/SHCar/EstimatePrice">
        <div class="panel-body">
            <label>Year of Registration: </label>
            @Html.TextBox("YearOfRegistration", null, new { required = "required", @type = "number", @class = "form-control", @min = "1960", @max = ViewBag.Year })
            <br />
            <label>Gearbox: </label>
            @Html.DropDownList("Gearbox", new SelectList(ViewBag.Gearbox, "Value", "Text"), "Select Gearbox type",
 new { required = "required", @class = "form-control" })
            <br />
            <label>Brand: </label>
            @Html.DropDownList("Brand", new SelectList(ViewBag.Brands, "Value", "Text"), "Select brand",
 new { required = "required", @class = "form-control", @id = "brandDrop" })
            <br />
            <label>Model: </label>
            @Html.DropDownList("Model", Enumerable.Empty<SelectListItem>(), "Select model",
 new { required = "required", @class = "form-control", @id = "modelDrop" })
            <br />
            <label>Kilometers: </label>
            @Html.TextBox("Kilometer", null, new { required = "required", @type = "number", @class = "form-control", @min = "0" })
            <br />
            <label>Fuel type: </label>
            @Html.DropDownList("FuelType", new SelectList(ViewBag.Fuel, "Value", "Text"), "Select fuel type",
new { required = "required", @class = "form-control" })
            <br />
            @if (@ViewBag.Error != "")
            {
                <p>@ViewBag.Error</p>
            }
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Estimate </button>
        </div>
    </form>
</div>



