﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
        @if (@ViewBag.Image == null)
        {
            //ViewBag.Image = "../../Image/p1scalat.jpg";
            ViewBag.Image = "../../Content/Img/p1scalat.jpg";
        }

            background-image: url('@ViewBag.Image');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Good To Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                    }
                    @if (User.IsInRole("User") || User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Cars", "Index", "Car")</li>
                        <li>@Html.ActionLink("Estimate fuel", "CalculateDistance", "Estimation")</li>
                        <li>@Html.ActionLink("Expenses", "TrackExpenses", "Chart")</li>
                        <li>@Html.ActionLink("Estimate car price", "EstimatePrice", "SHCar")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
