﻿@model GoodToGo.Models.FuelConsumption

@{
    ViewBag.Title = "Edit fuel consumption record ";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/FuelConsumption/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>  @Html.Label("Distance (km)", "Distance") </strong>
            <br />
            @Html.TextBox("Distance", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Distance, null, new { @class = "text-danger " })
            <br />
            <strong>  @Html.Label("Fuel Quantity", "Fuel") </strong>
            <br />
            @Html.TextBox("Fuel", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Distance, null, new { @class = "text-danger " })
            <br />
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
            <a class="btn btn-sm btn-danger" href="/FuelConsumption/Show/@Model.Id">Cancel</a>
        </div>
    </div>
</form>
