﻿@{
    ViewBag.Title = "Fuel Consumption records";
}

<h2>@ViewBag.Title</h2>
<h2>@ViewBag.carName</h2>


<div class="panel panel-default">
    <div class="panel panel-heading">
        <a href="@Url.Action("New", "FuelConsumption")" class="btn btn-sm btn-success" role="button"> Add new record</a>
    </div>
    <div class="panel panel-body">
        @if (ViewBag.message != null)
        {
            <br />
            <div class="alert alert-success" role="alert">
                <h4>@ViewBag.message</h4>
            </div>
        }
        @if (ViewBag.FuelConsumption != null)
        {
            foreach (var fuelC in ViewBag.FuelConsumption)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Distance:</strong> @fuelC.Distance
                        <br />
                        <strong>Fuel Quantity:</strong> @fuelC.Fuel
                        <br />
                    </div>
                    <div class="panel-footer">
                        <form method="post" action="/FuelConsumption/Delete/@fuelC.Id">
                            <a class="btn btn-sm btn-success" href="/FuelConsumption/Show/@fuelC.Id">View</a>
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                        </form>
                    </div>
                </div>
                <br />
            }
        }
        else
        {
            for (int i = 0; i < ViewBag.nbCars; i++)
            {
                <div class="panel panel-heading">
                    <strong>Car: @ViewBag.carRegistrationNumberList[i]</strong>
                </div>

                <div class="panel panel-default">

                    @if (ViewBag.FuelConsumptionList != null)
                    {
                        foreach (var fuelC in ViewBag.FuelConsumptionList[i])
                        {
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Distance: @fuelC.Distance
                                    <br />
                                    Fuel Quantity: @fuelC.Fuel
                                    <br />
                                </div>
                                <div class="panel-footer">
                                    <form method="post" action="/FuelConsumption/Delete/@fuelC.Id">
                                        <a class="btn btn-sm btn-success" href="/FuelConsumption/Show/@fuelC.Id">View</a>
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                                    </form>
                                </div>
                            </div>
                            <br />
                        }
                    }
                </div>
                <br />
            }

        }

    </div>
</div>

