﻿@section Styles{
    <style>
        @@media only screen and (max-width:1400px) {
            .text{
                color: white;
            }

            #form1{
                position:absolute;
                top: 200px;
                width: 300px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
}

@model GoodToGo.Models.FuelConsumption

@{
    ViewBag.Title = "New fuel consumption record";
}


<h2>@ViewBag.Title </h2>
<hr/>
<div id="form1">
    <form method="post" action="/FuelConsumption/New">
        <label>Select car</label>
        @Html.DropDownListFor(m => m.CarId, new SelectList(Model.Cars, "Value", "Text"), "Select car", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CarId, null, new { @class = "text-danger " })
        <br />
        @Html.Label("Distance (km)", "Distance", new { @class = "text" })
        <br />
        @Html.TextBoxFor(i => i.Distance, new { @type = "number", step = "0.01", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Distance, null, new { @class = "text-danger " })
        <br />
        @Html.Label("Fuel Quantity", "Fuel", new { @class = "text" })
        <br />
        @Html.TextBoxFor(i => i.Fuel, new { @type = "number", step = "0.01", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Fuel, null, new { @class = "text-danger " })
        <br />
        <br />

        <button type="submit" class="btn btn-sm btn-success"> Add record </button>
        <a class="btn btn-sm btn-danger" href="/FuelConsumption/Index">Cancel</a>
    </form>
    <br />
    <hr />
</div>


