﻿@model GoodToGo.Models.FuelConsumption

@{
    ViewBag.Title = "Record Details";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-success" href="/FuelConsumption/Edit/@Model.Id">Edit</a>
        <a class="btn btn-sm btn-success" href="/FuelConsumption/Index?=@Model.CarId">Back</a>
    </div>
    <div class="panel-body">
        <strong> Distance: </strong> @Model.Distance
        <br />
        <strong> Fuel Quantity: </strong> @Model.Fuel
        <br />
    </div>
</div>
