﻿@model GoodToGo.Models.Expense

@{
    ViewBag.Title = "Edit expense record ";
}
<style>
    @@media only screen and (max-width: 960px) {

        #quote {
            display: none;
        }
    }
</style>

@{
    //generate a random number
    Random rand = new Random();

    List<String> opts = new List<String> { "Fuel", "Fine", "Car Wash", "Vulcanization", "Car insurance", "Car's accesories", "ITP", "Road tax", "Others" };
    var items = new List<SelectListItem>();

    var selectlistItem = new SelectListItem();

    foreach (var t in opts)
    {
        items.Add(new SelectListItem { Text = t, Value = t });
    }


}

<h2  style="color: white">@ViewBag.Title</h2>
<form method="post" action="/Expense/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div  style="width: 350px" class="panel panel-default">
        <div class="panel-body">
            <strong> @Html.Label("Price (dollars)", "Price") </strong>
            <br />
            @Html.TextBox("Price", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger " })
            <br />
            <strong>  @Html.Label("Service Name", "ServiceName") </strong>
            <br />
            @Html.DropDownListFor(m => m.ServiceName, items, null, new { @class = "form-control" })
            <br />
            <strong>  @Html.Label("Description", "Description") </strong>
            <br />
            @Html.TextBox("Description", null, new { @class = "form-control" })
            <br />
            <strong>  @Html.Label("Date", "Date") </strong>
            <br />
            @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", max = ViewBag.MaxDate })
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-success" type="submit">Save</button>
            <a class="btn btn-sm btn-danger" href="/Expense/Show/@Model.Id">Cancel</a>
        </div>
    </div>
</form>

<div id="quote" class="panel-body" style='width: 500px; height: 200px; background-color: rgba(255, 255, 255,0.7);  position: absolute;  top: 30%; right:15%; font-size : 20px; font-weight: bold; text-align: center;'>
    <h2>@ViewBag.Puns[rand.Next(0, ViewBag.Puns.Count)]</h2>
</div>


