﻿@{
    ViewBag.Title = "Expenses records";
}

<h2 style="color: white">@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <a href="@Url.Action("New", "Expense")" class="btn btn-sm btn-success" role="button"> Add new record</a>
    </div>
    <div class="panel panel-body">
        @if (ViewBag.message != null)
        {
            <br />
            <div class="alert alert-success" role="alert">
                <h4>@ViewBag.message</h4>
            </div>
        }
        @if (ViewBag.Expenses != null)
        {
            foreach (var expense in ViewBag.Expenses)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Service Name:</strong> @expense.ServiceName
                        <br />
                        <strong>Description:</strong> @expense.Description
                        <br />
                        <strong>Price:</strong> @expense.Price
                        <br />
                        <strong>Date:</strong> @expense.Date
                        <br />
                    </div>
                    <div class="panel-footer">
                        <form method="post" action="/Expense/Delete/@expense.Id">
                            <a class="btn btn-sm btn-success" href="/Expense/Show/@expense.Id">View</a>
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                        </form>
                    </div>
                </div>
                <br />
            }
        }
        else
        {
            for (int i = 0; i < ViewBag.nbCars; i++)
            {
                <div class="panel panel-heading">
                    <strong>Car: @ViewBag.carNameList[i]</strong>
                </div>

                <div class="panel panel-default">

                    @if (ViewBag.ExpenseList != null)
                    {
                        foreach (var expense in ViewBag.ExpenseList[i])
                        {
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Service Name: @expense.ServiceName
                                    <br />
                                    Description: @expense.Description
                                    <br />
                                    Price: @expense.Price
                                    <br />
                                </div>
                                <div class="panel-footer">
                                    <form method="post" action="/Expense/Delete/@expense.Id">
                                        <a class="btn btn-sm btn-success" href="/Expense/Show/@expense.Id">View</a>
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                                    </form>
                                </div>
                            </div>
                            <br />
                        }
                    }
                </div>
                <br />
            }

        }

    </div>
</div>


