﻿@model GoodToGo.Models.Expense

@{
    ViewBag.Title = "New expense record";
}
<style>
    @@media only screen and (max-width: 960px) {

        #quote {
            display: none;
        }
    }
</style>

@{
    //generate a random number
    Random rand = new Random();

    List<String> opts = new List<String> { "Fuel", "Fine", "Car Wash", "Vulcanization", "Car insurance", "Car's accesories", "ITP", "Road tax", "Others" };
    var items = new List<SelectListItem>();

    var selectlistItem = new SelectListItem();

    foreach (var t in opts)
    {
        items.Add(new SelectListItem { Text = t, Value = t });
    }

}

<br />
<h2 style="color: white;"><strong>@ViewBag.Title</strong> </h2>
<hr />
<form method="post" action="/Expense/New">

    <label style="color: white;">Select car</label>
    @Html.DropDownListFor(m => m.CarId, new SelectList(Model.Cars, "Value", "Text"), "Select car", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CarId, null, new { @class = "text-danger " })
    <br />
    @Html.Label("Price", "Price (dollars)", new { style = "color:white" })
    <br />
    @Html.TextBoxFor(i => i.Price, new { @type = "number", step = "0.01", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger " })
    <br />
    @Html.Label("ServiceName", "Service Name", new { style = "color:white" })
    <br />
    @Html.DropDownListFor(m => m.ServiceName, items, "Select service", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ServiceName, null, new { @class = "text-danger " })
    <br />
    @Html.Label("Description", "Description", new { style = "color:white" })
    <br />
    @Html.TextBoxFor(i => i.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger " })
    <br />
    @Html.Label("Date", "Date", new { style = "color:white" })
    <br />
    @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", max = ViewBag.MaxDate })
    <br />

    <button type="submit" class="btn btn-success"> Add record </button>
    <a class="btn btn-danger" href="/Expense/Index">Cancel</a>
</form>
<br/>
<hr/>
<div id="quote" class="panel-body" style='width: 500px; height: 200px; background-color: rgba(255, 255, 255,0.7);  position: absolute;  top: 30%; right:15%; font-size : 20px; font-weight: bold; text-align: center;'>
    <h2>@ViewBag.Puns[rand.Next(0, ViewBag.Puns.Count)]</h2>
</div>



