﻿@model GoodToGo.Models.Expense

@{
    ViewBag.Title = "Details";
}

<h2  style="color: white">@ViewBag.Title</h2>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-success" href="/Expense/Edit/@Model.Id">Edit</a>
        <a class="btn btn-sm btn-success" href="/Expense/Index?=@Model.CarId">Back</a>
    </div>
    <div class="panel-body">
        <strong> Service Name: </strong> @Model.ServiceName
        <br />
        <strong> Description: </strong> @Model.Description
        <br />
        <strong> Price: </strong> @Model.Price
        <br />
        <strong> Date: </strong> @Model.Date.ToString("dd/MM/yyyy")
    </div>
</div>


