﻿@section Styles{
    <style>
        #recordButton {
            display: none;
        }

        #form1 {
            width: 300px;
            height: auto;
            position: absolute;
            position: absolute;
            right: 65%;
            top: 150px;
        }

        #divRes {
            top: 550px;
            width: 60%;
            height: auto;
            position: absolute;
            left: 0%;
            right: 0%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        @@media only screen and (max-width: 1200px) {
            #divRes {
                width: 80%;
            }
        }

        @@media only screen and (max-width: 960px) {

                #description {
                    display: none;
                }

                #recordButton {
                    display: inline;
                }

                #form1 {
                    position: absolute;
                    left: 0%;
                    right: 0%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        @@media only screen and (max-height: 400px) {
            h2 {
                display:none;
            }

            #divRes {

            }
        }

    </style>
}
@model GoodToGo.Models.ApplicationUser

@{
    ViewBag.Title = "Calculate Distance";
}

<h2>@ViewBag.Title </h2>
<hr />
<div id="description" class="panel-body" style='width: 500px; height: 300px; background-color: rgba(221, 205, 161,0.7);  position: absolute;  top: 30%; right:15%; font-size : 20px; font-weight: bold; text-align: center;'>
    <br />
    <br />
    <p>In order to estimate the quantity of fuel, you</p>
    <p>need to add as many records as you can,</p>
    <p>with the distance you were able to travel,</p>
    <p>given a certain amount of fuel</p>
    <a class="btn btn-lg btn-success" role="button" href="/FuelConsumption/New">Add a record &raquo;</a>
</div>

<div id="form1" class="panel panel-default">
    <div class="panel-heading">
        <a href="@Url.Action("Index", "FuelConsumption")" class="btn btn-sm btn-default" role="button"> See fuel records</a>
        <a id="recordButton" class="btn btn-sm btn-success" role="button" href="/FuelConsumption/New">Add a record &raquo;</a>
    </div>
    <form method="post" action="/Estimation/CalculateDistance">
        <div class="panel-body">
            <label>From: </label>
            @Html.TextBox("from", null, new { required = "required", @class = "form-control" })

            <br />
            <label>To: </label>
            @Html.TextBox("to", null, new { required = "required", @class = "form-control" })
            <br />
            <label>Car: </label>

            @Html.DropDownList("selectedCarId", new SelectList(Model.Cars, "Value", "Text"), "Select Car",
                    new { required = "required", @class = "form-control" })
            <br />
            @if (@ViewBag.Error != "")
            {
                <p>@ViewBag.Error</p>
            }
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-sm btn-success"> Estimate </button>
        </div>
    </form>
</div>

@if ((@ViewBag.Error == "" || @ViewBag.Error == null) && @ViewBag.Distance != "")
{
    <div id="divRes" class="panel panel-default">
        <br />
        <p>There are @ViewBag.Distance km from @ViewBag.From to @ViewBag.To</p>

        @if (@ViewBag.EstimationError != "" && @ViewBag.EstimationError != null)
        {
            <p style="color: red">@ViewBag.EstimationError</p>
        }

        @if (@ViewBag.Estimation != "" && @ViewBag.Estimation != null)
        {
            <p>You need @ViewBag.Estimation litres of fuel.</p>
        }
    </div>
}


