﻿@{
    ViewBag.Title = "Good to Go";
}
<br/>
<br/>
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
     <p><small>Created by Armeanu Ana-Maria, Ivan Mihaela & Ivan Theodor-Catalin</small></p>
</div>