﻿@section Styles{
    <style>

        #d1 {
            width: 300px;
            height: auto;
        }

        #d2 {
            width: 200px;
            height: auto;
        }

        .jumbotron {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }

        #regButton {
            width: 250px;
            height: 50px;
            position: absolute;
            top: 40%;
            right: 15%;
        }

        #description {
            width: 40%;
            height: auto;
            background-color: rgba(221, 205, 161,0.5);
            position: absolute;
            top: 10%;
            right: 50%;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        #carouselLoggedIn {
            width: 50%;
            position: absolute;
            top: 200px;
            right: 10%;
        }

        .logged {
            position: absolute;
            top: 40%;
            width: 200px;
            height: 40px;
        }

        #b1 {
            top: 280px;
            left: 25%;
        }

        #b2 {
            top: 340px;
            left: 25%;
        }

        #b3 {
            top: 400px;
            left: 25%;
        }

        #b4 {
            top: 460px;
            left: 25%;
        }

        @@media only screen and (max-width: 960px) {

            #carouselLoggedIn {
                display: none;
            }

            #title {
                color: white;
            }

            #regButton {
                display: none;
            }

            #description {
                width: 80%;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            .jumbotron {
                width: 80%;
            }

            #b1 {
                top: 170px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            #b2 {
                top: 230px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            #b3 {
                top: 290px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            #b4 {
                top: 350px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
}

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-warning" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

@if (ViewBag.isAdmin || ViewBag.isUser)
{
    <h1 id="title">Good To Go</h1>
    <hr />

    <a id="b1" class="btn btn-success btn-lg, logged" role="button" href="/Car/New">Add a car</a>
    <a id="b2" class="btn btn-success btn-lg, logged" role="button" href="/Chart/TrackExpenses">Track your expenses</a>
    <a id="b3" class="btn btn-success btn-lg, logged" role="button" href="/Estimation/CalculateDistance">Estimate fuel </a>
    <a id="b4" class="btn btn-success btn-lg, logged" role="button" href="/SHCar/EstimatePrice">Estimate car value </a>

    <div  id="carouselLoggedIn">
    <div class="jumbotron">
        <div class="container" >
            <div id="myCarousel2" class="carousel slide" data-ride="carousel" style="margin: 0 auto;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                    <li data-target="#myCarousel2" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Img/img2.jpg" alt="Record" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Content/Img/img3.jpg" alt="Estimate" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Content/Img/img41.jpg" alt="Estimate" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    </div>

}
else
{
    <a id="regButton" class="btn btn-default btn-lg" role="button" href="/Account/Register"> <strong>REGISTER </strong> </a>
    <div id="description" class="panel-body">
        <h1>Good To Go</h1>
        <br />
        <br />
        <p>The app in which you can track your car expenses and estimate the quantity of fuel needed to get from a location to another.</p>
        <br />
        <p>Follow these easy steps to get the best out of this app. :)</p>
        <br />

        <div class="jumbotron">
            <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0 auto;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/Img/img1.jpg" alt="Log in or register" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/Content/Img/img2.jpg" alt="Record" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/Content/Img/img3.jpg" alt="Estimate" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/Content/Img/img41.jpg" alt="Estimate" style="width:100%;">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
}


