﻿@section Styles{
    <style>
        #chartImg {
            position: absolute;
            width: 650px;
            left: 400px;
            top: 150px;
        }

        #title, .text {
            color: white;
        }

        .text {
            font-size: 20px;
        }


        @@media only screen and (max-width:960px) {

            #container {
                position: absolute;
                width: 95%;
                top: 40vw;
            }

            #chartImg {
                position: absolute;
                width: 95%;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
            }


            #form1 {
                position: absolute;
                top: 26vw;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
}

@{
    ViewBag.Title = "Annual Chart";
}

<h2 id="title">Annual Chart</h2>
<hr/>
<div id="form1">
    <div class="panel-body">
        <form method="post" action="/Chart/AnnualChart">
            <div class="pull-left ">
                <label class="text">Year: </label>
                @Html.DropDownList("requestYear", new SelectList(ViewBag.Years, "Value", "Text"), "Select Year",
                new { @class = "form-control" })
                <br />

                <label class="text">Car: </label>
                @Html.DropDownList("requestCarId", new SelectList(ViewBag.Cars, "Value", "Text"), "Select Car",
                 new { @class = "form-control" })
                <br />
                <div>
                    <button type="submit" class="btn btn-sm btn-success"> Show chart </button>
                </div>
            </div>


        </form>

    </div>
</div>
@if (ViewBag.Year != null && ViewBag.CarId != null)
{
    <div id="container">
        <img id="chartImg" src="@Url.Action("ChartPerYear", new { requestYear = ViewBag.Year, requestCarId = ViewBag.CarId })" alt="SimpleChart" />
    </div>
}

