﻿@section Styles{
    <style>
        #chartImg {
            position: absolute;
            width: 700px;
            left: 400px;
            top: 150px;
        }

        .buttons {
            width: 150px;
        }

        #title, .text {
            color: white;
        }


        .text {
            font-size: 20px;
        }

        @@media only screen and (max-width:960px) {

            #container {
                position: absolute;
                width: 95%;
                top: 60vw;
            }

            #chartImg {
                position: absolute;
                width: 95%;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
            }


            #form1 {
                position: absolute;
                top: 30vw;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
}



@{
    ViewBag.Title = "Track Expenses";
}

@{

    var months = new List<SelectListItem>();


    var selectlistItem1 = new SelectListItem();
    selectlistItem1.Text = ("January").ToString();
    selectlistItem1.Value = ("1").ToString();
    months.Add(selectlistItem1);


    var selectlistItem2 = new SelectListItem();
    selectlistItem2.Text = ("February").ToString();
    selectlistItem2.Value = ("2").ToString();
    months.Add(selectlistItem2);

    var selectlistItem3 = new SelectListItem();
    selectlistItem3.Text = ("March").ToString();
    selectlistItem3.Value = ("3").ToString();
    months.Add(selectlistItem3);

    var selectlistItem4 = new SelectListItem();
    selectlistItem4.Text = ("April").ToString();
    selectlistItem4.Value = ("4").ToString();
    months.Add(selectlistItem4);

    var selectlistItem5 = new SelectListItem();
    selectlistItem5.Text = ("May").ToString();
    selectlistItem5.Value = ("5").ToString();
    months.Add(selectlistItem5);

    var selectlistItem6 = new SelectListItem();
    selectlistItem6.Text = ("June").ToString();
    selectlistItem6.Value = ("6").ToString();
    months.Add(selectlistItem6);

    var selectlistItem7 = new SelectListItem();
    selectlistItem7.Text = ("July").ToString();
    selectlistItem7.Value = ("7").ToString();
    months.Add(selectlistItem7);

    var selectlistItem8 = new SelectListItem();
    selectlistItem8.Text = ("August").ToString();
    selectlistItem8.Value = ("8").ToString();
    months.Add(selectlistItem8);

    var selectlistItem9 = new SelectListItem();
    selectlistItem9.Text = ("September").ToString();
    selectlistItem9.Value = ("9").ToString();
    months.Add(selectlistItem9);

    var selectlistItem10 = new SelectListItem();
    selectlistItem10.Text = ("Octomber").ToString();
    selectlistItem10.Value = ("10").ToString();
    months.Add(selectlistItem10);

    var selectlistItem11 = new SelectListItem();
    selectlistItem11.Text = ("November").ToString();
    selectlistItem11.Value = ("11").ToString();
    months.Add(selectlistItem11);

    var selectlistItem12 = new SelectListItem();
    selectlistItem12.Text = ("December").ToString();
    selectlistItem12.Value = ("12").ToString();
    months.Add(selectlistItem12);


}

<h2 id="title">@ViewBag.Title </h2>
<hr/>

<div class="pull-right ">
    <a class="btn btn-success buttons" href="/Expense/New">Input Data</a>
    <br /><br />
    <a class="btn btn-success buttons" href="/Expense/Index">Details</a>
    <br /><br />
    <a class="btn btn-success buttons" href="/Chart/AnnualChart">Annual Chart</a>
</div>

<div calss="panel-body" id="form1">
    <form method="post" action="/Chart/TrackExpenses">
        <div class="pull-left ">
            <label class="text">Year: </label>
            @Html.DropDownList("requestYear", new SelectList(ViewBag.Years, "Value", "Text"), "Select Year",
       new { @class = "form-control" })
            <br />
            <label class="text">Month: </label>
            @Html.DropDownList("requestMonth", months, "Select Month", new { @class = "form-control" })
            <br />
            <label class="text">Car: </label>
            @Html.DropDownList("requestCarId", new SelectList(ViewBag.Cars, "Value", "Text"), "Select Car",
         new { @class = "form-control" })
            <br />


            <div>
                <button type="submit" class="btn btn-sm btn-success"> Show chart </button>
            </div>

        </div>
    </form>
</div>

@if (ViewBag.Year != null && ViewBag.CarId != null && ViewBag.Month != null)
{
    <div id="container">
        <img id="chartImg" src="@Url.Action("ChartPerMonth", new { requestMonth = ViewBag.Month, requestYear = ViewBag.Year, requestCarId = ViewBag.CarId })" alt="SimpleChart" />
    </div>
}





