﻿@{
    ViewBag.Title = "Cars";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel panel-heading">
        <a href="@Url.Action("New", "Car")" class="btn btn-sm btn-success" role="button"> Add new car</a>
    </div>
    <div class="panel panel-body">
        @if (ViewBag.message != null)
        {
            <br />
            <div class="alert alert-success" role="alert">
                <h4>@ViewBag.message</h4>
            </div>
        }
        @foreach (var car in ViewBag.Cars)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@car.Registration_number</h3>
                </div>
                <div class="panel-body">
                    <strong>Brand:</strong> @car.Brand
                    <br />
                    <strong>Details:</strong> @car.Details
                    <br />
                </div>
                <div class="panel-footer">
                    <form method="post" action="/Car/Delete/@car.Id">
                        <a class="btn btn-sm btn-success" href="/Car/Show/@car.Id">View</a>
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-sm btn-danger" type="submit"> Delete </button>
                    </form>
                </div>
            </div>
            <br />
        }
    </div>
</div>

