﻿@section Styles{
    <style>
        #d1 {
            width: 300px;
            height: auto;
        }

        #d2 {
            width: 200px;
            height: auto;
        }

        #d3 {
            
            top: auto;
            right:0px;
        }

        @@media only screen and (max-width: 960px) {
            #titlu {
                color: white;
            }

            #quote {
                display: none;
            }

        }
    </style>
}

@model GoodToGo.Models.Car

@{
    ViewBag.Title = "New car";
}


@{
    //generate a random number
    Random rand = new Random();
    

    List<String> opts = new List<String>
{ "Abarth ",
"AC ",
"AC Propulsion ",
"Acura ",
"A.D. Tramontana ",
"Aixam ",
"Alfa Romeo ",
"Almac ",
"Alpina ",
"Alpine ",
"Alternative Cars ",
"Amuza ",
"Anteros ",
"Arash ",
"Ariel ",
"Arrinera ",
"Ascari Cars ",
"ASL ",
"Asterio",
"Aston Martin ",
"Audi ",
"BAC ",
"Bajaj s",
"Beijing Automobile Works",
"Bentley ",
"BMW ",
"Bolloré ",
"Bolwell ",
"Brilliance / HuaChen ",
"Bristol ",
"BRM Buggy ",
"Brooke",
"Buddy ",
"Bufori ",
"Bugatti ",
"Buick ",
"BYD ",
"Cadillac ",
"Callaway Cars ",
"Campagna Motors ",
"Carbon Motors Corporation",
"Caterham Cars ",
"Caterpillar Inc. ",
"Changan Automobile ",
"Changfeng Motor ",
"Changhe ",
"Checker Motors Corporation",
"Chery ",
"Chevrolet ",
"Chrysler ",
"Citroën ",
"Cizeta ",
"Cord Automobile ",
"Corolla ",
"Dacia ",
"Daewoo Motors ",
"Daihatsu ",
"Datsun ",
"De La Chapelle s",
"DeLorean ",
"Devon Motorworks ",
"Diardi ",
"Dodge ",
"Dongfeng ",
"Donkervoort ",
"Donto ",
"DS Automobiles ",
"Dynasti Electric Car Corp.",
"* EagleAmc",
"E-Vade ",
"Effedi ",
"Egy-Tech Engineering ",
"Electric Raceabout ",
"Elfin ",
"Elio Motors ",
"Englon ",
"Etox ",
"Equus ",
"Exagon ",
"Faralli & Mazzanti ",
"FAW ",
"Ferrari ",
"Fiat ",
"Fisker ",
"Foday ",
"Force ",
"Ford ",
"Ford Australia ",
"Ford Germany ",
"Foton Motor ",
"Fraser ",
"GAC Group ",
"Galpin ",
"GAZ ",
"Geely ",
"Genesis ",
"Gibbs ",
"Gillet ",
"Ginetta ",
"GMC ",
"Great Wall / Changcheng",
"GTA Motor ",
"Hafei ",
"Hawtai ",
"Hennessey ",
"Hindustan ",
"Holden ",
"Honda ",
"Hongqi ",
"HTT Technologies ",
"Hudson Motor Car Company",
"Hummer ",
"Hyundai ",
"ICML",
"IFR see Aspid",
"Iran Khodro / IKCO ",
"Infiniti ",
"Isdera ",
"Isuzu ",
"JAC ",
"Jaguar ",
"Jeep ",
"Jensen Motors ",
"Jetcar ",
"Jonway ",
"JOSS ",
"Kaipan ",
"Kantanka",
"Karma ",
"Kenworth ",
"Kia ",
"Kiat ",
"Kiira Motors Corporation",
"Kish Khodro ",
"Koenigsegg ",
"Korres ",
"KTM ",
"Lada ",
"Lamborghini ",
"Lancia ",
"Land Rover ",
"Landwind ",
"Laraki ",
"LeBlanc ",
"Leitch ",
"Leopard ",
"Lexus ",
"Li-ion ",
"Lifan ",
"Lightning ",
"Lincoln ",
"Lister ",
"Local Motors ",
"Lobini ",
"Lotec ",
"Lotus Cars ",
"Lucra Cars",
"Luxgen ",
"Mahindra ",
"Marussia ",
"Maruti Suzuki ",
"Maserati ",
"Mastretta ",
"Mazda ",
"McLaren ",
"Mercedes-Benz ",
"MG ",
"Micro ",
"MINI ",
"Mitsubishi ",
"Mitsuoka ",
"Morgan ",
"Mullen",
"Mycar ",
"MyVi-Perodua",
"Nissan ",
"Noble ",
"Nota ",
"Oldsmobile",
"Oltcit ",
"Opel ",
"Optimal Energy ",
"Orca ",
"Pagani ",
"Panhard ",
"Panoz ",
"Peel ",
"Perana ",
"Perodua ",
"P.G.O. ",
"Polaris ",
"Polarsun ",
"Plymouth ",
"Pontiac ",
"Porsche ",
"Praga ",
"Proto / Oullim ",
"Proton ",
"Puritalia",
"Qoros ",
"Qvale ",
"Radical ",
"Reliant ",
"Renault ",
"Reva ",
"Rimac ",
"Rinspeed ",
"Roding ",
"Roewe ",
"Rolls-Royce ",
"Rossin-Bertin ",
"Rossion ",
"Rover ",
"Ruf Automobile ",
"Saab ",
"SAIC-GM-Wuling ",
"SAIPA ",
"Saker ",
"Saleen",
"Samsung ",
"San ",
"Sbarro ",
"Scion Defunct",
"SEAT ",
"Shanghai Maple ",
"Shelby ",
"SIN  ",
"Škoda ",
"Smart ",
"Spada Vetture Sport ",
"Spyker ",
"SSC North America ",
"Subaru ",
"Suzuki ",
"Tanom",
"Tata ",
"Tatra ",
"Tesla ",
"TD Cars ",
"Thai Rung ",
"Think ",
"Toyota ",
"Trident ",
"Triumph ",
"Troller ",
"Tuk Tuk",
"Tushek",
"TVR ",
"TVS ",
"UEV ",
"Ultima ",
"UMM ",
"Unimog ",
"Uri ",
"UAZ ",
"Vauxhall Motors ",
"Vector ",
"Vencer ",
"Venirauto ",
"Venturi ",
"VEPR ",
"VinFast ",
"Volkswagen ",
"Volvo ",
"W Motors ",
"Wallyscar ",
"Westfield ",
"Wheego ",
"Wiesmann ",
"Yamaha ",
"YES! ",
"Youabian Puma",
"Yugo ",
"Zastava Automobiles ",
"Zender Cars ",
"Zenos Cars ",
"Zenvo ",
"ZiL ",
"Zolfe ",
"Zotye Auto ",
"ZX Auto "
};
    var items = new List<SelectListItem>();

    var selectlistItem = new SelectListItem();

    foreach (var t in opts)
    {
        items.Add(new SelectListItem { Text = t, Value = t });
    }


}


<h2 id="titlu">@ViewBag.Title </h2>
<hr />
<form method="post" action="/Car/New">
    @Html.Label("Registration Number", "Registration Number", new { style = "color:white" })
    <br />
    @Html.TextBox("Registration_number", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Registration_number, null, new { @class = "text-danger " })
    <br />
    @Html.Label("Brand", "Brand", new { style = "color:white" })
    <br />
    @Html.DropDownListFor(m => m.Brand, items, "Select brand", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Brand, null, new { @class = "text-danger " })
    <br />
    @Html.Label("Details", "Details", new { style = "color:white" })
    <br />
    @Html.TextArea("Details", null, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-sm btn-success"> Add car </button>
    <a class="btn btn-sm btn-danger" href="/Car/Index">Back to cars</a>
</form>
<hr />
<br />
<div id="d1" class="panel panel-default">
    <div id="d2" class="panel-body">
        <h4>Your cars</h4>
        <hr />
        @foreach (var car in ViewBag.Cars)
        {
            <h5>@car.Registration_number</h5>
            <hr />
        }
    </div>
</div>
<div id="quote" class="panel-body" style='width: 500px; height: 200px; background-color: rgba(255, 255, 255,0.7);  position: absolute;  top: 30%; right:15%; font-size : 20px; font-weight: bold; text-align: center;'>
    <h2>@ViewBag.Puns[rand.Next(0, ViewBag.Puns.Count)]</h2>
</div>