﻿@model GoodToGo.Models.Car

@{
    ViewBag.Title = "Car " + @Model.Registration_number;
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.message != null)
{
    <br />
    <div class="alert alert-success" role="alert">
        <h4>@ViewBag.message</h4>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-sm btn-success" href="/Car/Edit/@Model.Id">Edit</a>
        <a class="btn btn-sm btn-success" href="/Car/Index">Back</a>
    </div>
    <div class="panel-body">
        <strong> Registration Number: </strong> @Model.Registration_number
        <br />
        <strong> Brand: </strong> @Model.Brand
        <br />
        <strong> Details: </strong> @Model.Details
    </div>
</div>
